Source: openpanel-mod-iptables
Section: misc
Priority: optional
Maintainer: OpenPanel packager <packages@openpanel.com>
Build-Depends: debhelper (>= 5), imagemagick, libgrace, libgrace-dev, openpanel-mkmodulexml, openpanel-dev
Standards-Version: 3.7.2

Package: openpanel-mod-iptables
Architecture: any
Depends: openpanel-core (>= 0.8.3), iptables
Description: OpenPanel module to configure Iptables Firewalling
 Openpanel user management module
